<!DOCTYPE html>
<html>

    <head>

    </head>

    <body>
        <h1>Choose which one you are:</h1>
        <a href="/users/register/newUser?user=student">I am a student</a>
        <a href="/users/register/newUser?user=firm">I am a business/firm</a>
    </body>
</html>