<!DOCTYPE html>
<html>
    <head>
        <title>Checking for verification code...</title>
        <link rel = "stylesheet" href = "/css/verificationCheck.css" type = "text/css">
    </head>
    <body>
        welcome
    </body>
</html>