<!DOCTYPE html>
<html>
    <head>
        <title>GoGoIntern</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        <link rel = "stylesheet" href = "/css/all-style.css" type = "text/css">
        <link rel = "stylesheet" href = "/css/mainpage.css" type = "text/css">
        <link rel="icon" href="/images/icons/New-Logo-TB.png" type = "image/png">
    </head>

    <body>
        <div class="mainpage-navbar">
            <div class="mainpage-navbar-centered">
                <h1>
                    GoGoIntern
                </h1>
    
                <a href="/users/login/transition">
                    <button>
                        Login
                    </button>
                </a>
            </div>

        </div>

        <div class="mainpage-banner">
            <h1>
                Find the perfect high school internship
            </h1>
        </div>

        <h2>
            developer panel:
        </h2>
        <h3>
            <a href="/users/login/transition">
                Log In
            </a>
        </h3>

        <h3>
            <a href="/users/register">
                Register
            </a> 
        </h3>
        <script src="/javascript/script-home.js" type = "text/javascript"></script>
    </body>
</html>