<!DOCTYPE html>
<html>
    <head>
        <title>Rayreader</title>
    </head>

    <body>
        <h1>Hello World</h1>
        <a href = "/users/login">Go to Login Page</a>
        <a href = "/users/register">Go to register account</a>
    </body>
</html>