<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <title>GoGoIntern</title>

    <link rel="stylesheet" href="/css/global.css" type = "text/css">
    <link rel="stylesheet" href="/css/indexLogin.css" type = "text/css">
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lalezar:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=ABeeZee:wght@400&display=swap"
    />

    <link rel="icon" type="image/x-icon" href="/images/icons/favicon-logo.png">
  </head>
  <body>
    <div class="backg-parent">
    <form action="/" method="post" autocomplete="off" class="frame-wrapper">
      <!-- <div class="frame-wrapper"> -->
        <div class="frame-parent">
          <div class="frame-group">
            <div class="frame-container">
              <img
                class="frame-child"
                loading="lazy"
                alt=""
                src="/images/login/group-26@2x.png"
              />

              <div class="gogointern-wrapper">
                <div class="gogointern">GoGoIntern</div>
              </div>
            </div>
            <div class="frame-div">
              <button class="sign-in-wrapper" type="submit">
                <div class="sign-in">Sign in</div>
              </button>
            </div>
          </div>
          <div class="frame-wrapper1">
            <div class="frame-parent1" style="text-align:center">
              <div class="line-parent">
                <div class="frame-parent2">
                  <div class="frame-wrapper2">
                    <img
                      class="frame-inner"
                      loading="lazy"
                      alt=""
                      src="/images/login/group-20@2x.png"
                    />
                  </div>
                  <input class="email" placeholder="Email" type="text" name="name" required/>
                </div>
              </div>
              <div class="frame-parent4">
                <div class="password-parent">
                  <img
                  class="frame-child1"
                  loading="lazy"
                  alt=""
                  src="/images/login/group-19@2x.png"
                />
                  <input class="password" placeholder="Password" type="password" name="password" id="password" required/>

                  <img
                    class="group-icon"
                    id="showPassword"
                    loading="lazy"
                    alt=""
                    src="/images/login/group-18@2x.png"
                    role="button"
                  />
                </div>
              <div style="display: flex; align-items: stretch; justify-content: space-between; flex-direction: column; margin-top: 5vh">
                <% if(errors === 'true'){%>
                  <div style="color: rgb(215, 0, 0);font-size: 20%; border-radius: 20px; border:0; display: flex; align-items: center; align-self: center;">Invalid Info!</div>
                  <%}%>
                  <div class="forgot-password-parent">
                    <!-- <button class="forgot-password">Remember me</button> -->
                    <div class="wrapper-subtract">
                      <% if(errors === 'true'){%>
                          <button class="goButton">
                              <img
                              class="subtract-icon"
                              loading="lazy"
                              alt=""
                              src="/images/login/subtractFail.svg"
                            />
                          </button>
                      <%} else {%>
                          <button class="goButton">
                              <img
                              class="subtract-icon"
                              loading="lazy"
                              alt=""
                              src="/images/login/subtract.svg"
                            />
                          </button>
                      <%}%>
                    </div>
                    
                  </div>

                  <div class="frame-parent3">
                    <a class="create-account-as-student-wrapper">
                      <div class="create-account-as">Create account as student</div>
                    </a>
                    <div class="frame-wrapper3">
                      <a class="create-account-as-firm-wrapper" href="/users/register/newUser?user=business">
                        <div class="create-account-as1">Create account as firm</div>
                      </a>
                    </div>
                  </div>

                  <div class="hr-container">
                    <hr>
                    <span class="centered-word">or</span>
                  </div>

                  <button class="frame-button" type="button">
                    <div class="logo-google-icon-png-1-wrapper">
                      <img
                        class="logo-google-icon-png-1"
                        loading="lazy"
                        alt=""
                        src="/images/login/logogoogleiconpng-1@2x.png"
                      />
                    </div>
                    <div class="continue-with-google"><a href="/auth/google">Continue with Google</a></div>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      <!-- </div> -->
    </form>
      <div class="line-group" style="margin-top: 15%;">
        <div class="diverseGroup" style="display: inline-flex; flex-direction:column; width: 30%; height: 100%; z-index: 2; position: relative; align-items: center; justify-content: space-evenly;">

            <img src="/images/login/Diverse.svg" class="diverseImg">

            <div class="diverse" style="position:relative; left:0; top:0; margin-bottom: 15%; display:flex; flex-direction: column;">
                Diverse
                <div class="were-here-to" style="bottom: 0;position: relative; left:0;">
                    Use our advanced search can find your best fit
                </div>
            </div>
        </div>

        <div class="reliableGroup" style="display: inline-flex; flex-direction:column; width: 30%; height: 100%; z-index: 2; position: relative; align-items: center; justify-content: space-evenly;">
            <img src="/images/login/reliable.svg" class="reliableImg">
            <div class="reliable" style="position:relative; top:0;left:0; margin-bottom: 15%; display:flex; flex-direction: column;">
                Reliable
                <div class="we-work-with" style="bottom: 0; left:0; z-index: 2; position: relative">
                    We work with professional firms so you can find the best
                </div>
            </div>
        </div>

        <div class="trustworthyGroup" style="display: inline-flex; flex-direction:column; width: 30%; height: 100%; z-index: 2; position: relative; align-items: center; justify-content: space-evenly;">
            <img src="/images/login/trustworthy.svg" class="trustworthyImg">
            <div class="trustworthy" style="position:relative; right:0;top:0; margin-bottom: 15%; display:flex; flex-direction: column;">
                Trustworthy
                <p class="our-team-comprises" style="bottom: 0;position: relative; right:0;">
                    Our team comprises of experts across a variety of fields
                </p>
            </div>
        </div>
      </div>
      <!-- <div class="rectangle-div"></div> -->
      <div class="FooterContainer">
        <div class = "containerForFooter">

          <div class="workabout">
            <div class="WorkContainer">
              <div class="work-with-us">Work with us</div>
              <div class="careers">Careers</div>
              <div class="advertisers">Advertisers</div>
            </div>

            <div class="gogointern1container">
              <div class="gogointern1">GoGoIntern</div>
              <div class="about-us">About Us</div>
            </div>
          </div>

          <div class="gogo-intern">
              <img class="frame-child9" alt="" src="/images/login/group-27@2x.png"/>
              <span class="gogo-intern-txt-container" style="position: relative; white-space: nowrap;">
              <p class="gogo">GoGo<br><br>Intern</p>
              <!-- <p class="blank-line">&nbsp;</p> -->
              <!-- <p class="intern">Intern</p> -->
              </span>
          </div>
        </div>
      </div>
      
      </div>
      
    </div>

    <script type="text/javascript">
        const showPasswordItem = document.getElementById("password")
        const eyeButton =  document.getElementById("showPassword")
        eyeButton.addEventListener("click", function () {
            if (showPasswordItem.type === "password") {
                showPasswordItem.type = "text";
                eyeButton.src = "/images/login/closedEye.svg"
            } else {
                showPasswordItem.type = "password";
                eyeButton.src="/images/login/group-18@2x.png"
            }
        });
    </script>
  </body>
</html>