<!DOCTYPE html>
<html>
    <head> 

        <title>Login to Rayreader</title>
        <link rel = "stylesheet" href = "/css/login.css" type = "text/css">
    </head>

    <body>
        <div class = "banner">
            <img src = "/images/icons/New-Logo-TB.png" width="100px">
            <h1>nternalyse</h1>
        </div>

        <div class = "firmbutton">
            Sign in for firms instead
        </div>
        <h1 class = "signin">Sign in</h1>
        <form action="/users/login" method="post">
            <section>
                <div class = "metrics">
                    <label for="name">Username:</label>
                    <input 
                        class = "inputs"
                        type = "name"
                        id="name" 
                        name="name"
                        placeholder="Enter Username"
                        value = "<%= name%>"
                        required
                        >
                </div>
            </section>
            <section>
                <div class = "metrics">
                    <label for="current-password">Password:</label>
                    <input 
                        class = "inputs"
                        type = "password"
                        id="current-password" 
                        name="password"
                        placeholder="Enter password"
                        value = "<%= password%>"
                        required>
                </div>
            </section>
            <section>
                <label for = "cookie">Remember me</label>
                <input type = "checkbox" id = "remember" name = "remember">
            </section>
            <button type="submit">Sign in</button>
            <a href = "/auth/google" class = "bottombuttons" style="margin-top: 100px;">Log in with google</a>
            <a href = "/users/register" class="bottombuttons" style="margin-top: 100px;">Don't have an account?</a>
        </form>
    </body>
</html>