<!DOCTYPE html>
<html>
    <head> 
        <title>Login to GoGoIntern</title>
        <link rel = "stylesheet" href = "/css/login.css" type = "text/css">
        <link rel = "stylesheet" href = "/css/style-all.css" type = "text/css">
    </head>

    <body>
        <div class = "banner">
            <img src = "/images/icons/New-Logo-TB.png" width="100px">
            <h1>GoGoIntern</h1>
        </div>

        <a href="./views/index.ejs">
            How to take user back to index page?
        </a>

        <div class = "firmbutton">
            Sign-in for firms instead
        </div>
        <h1 class = "signin">Student Sign-in</h1>
        <% if(errors === 'true'){%>
            <h3 style="border: 0.5rem solid rgb(234, 155, 168); background-color: rgb(244, 127, 127); color: whitesmoke; width: 40vw">Incorrect Login Credentials</h3>
        <%}%>
        <form action="/users/login" method="post">
            <section style="align-items: center;">
                <div class = "metrics">
                    <label for="name">Email:</label>
                    <input 
                        class = "inputs"
                        type = "name"
                        id="name" 
                        name="name"
                        placeholder="Enter Email"
                        required
                        >
                </div>
            </section>
            <section>
                <div class = "metrics">
                    <label for="current-password">Password:</label>
                    <input 
                        class = "inputs"
                        type = "password"
                        id="current-password" 
                        name="password"
                        placeholder="Enter password"
                        required>
                </div>
            </section>
            <section style="padding: 5px;">
                <label for = "cookie" style="font-size: 30px; margin-right: 4px;">Remember me</label>
                <input type = "checkbox" id = "remember" name = "remember">
            </section>
            <button type="submit" style="font-size: 22px;">Sign in</button>

            <div style="width: 100%; height: 20px; border-bottom: 1px solid black; text-align: center">
                <span style="font-size: 40px; background-color: white; padding: 0 1rem;">
                    Or
                </span>
            </div>

            <div class = "metrics" style="width: 90vmax; padding-bottom: 10px; padding-top: 10px; margin-left: 40px;">
                <a href = "/auth/google" class = "bottombuttons">Log in with google</a>
                <a href = "/users/register" class="bottombuttons">Don't have an account?</a>
            </div>
        </form>
    </body>
</html>