<!DOCTYPE html>
<html>
    <head> 

        <title>Sign-up to GoGoIntern</title>
        <link rel = "stylesheet" href = "/css/login.css" type = "text/css">
    </head>

    <body>
        <div class = "banner">
            <img src = "/images/icons/New-Logo-TB.png" width="100px">
            <h1>nternalyse</h1>
        </div>

        <div class = "firmbutton">
            Sign-up for firms instead
        </div>
        <h1 class = "signin">Student Sign-up</h1>
        <% if (errors.length > 0){%>
            <% errors.forEach(function(error){ %>
                <h3 style="border: 0.5rem solid rgb(234, 155, 168); background-color: rgb(244, 127, 127); color: whitesmoke; width: 40vw"><%= error %></h3>
            <%}); %>
        <%} %>
        <form action = "/users/register/newUser" method="POST">
            <section style="align-items: center;">
                <div class = "metrics">
                    <label for = "name"><%= username %></label>
                    <input type = "text" id = "name" class = "inputs"name = "name" placeholder = "Enter <%= username %>" required>
            </section>
            <section>
                <div class = "metrics">
                    <label for = "email">Email:</label>
                    <input type = "email" id = "email" name = "email" placeholder = "Enter email" required class = "inputs">
                </div>
            </section>
            <section>
                <div class = "metrics">
                    <label for="current-password">Password:</label>
                    <input type = "password" id = "password" name = "password" placeholder = "Enter password" required class = "inputs">
                </div>
            </section>
            <section style="padding: 5px;">
                <label for = "cookie" style="font-size: 30px; margin-right: 4px;">Remember me</label>
                <input type = "checkbox" id = "remember" name = "remember">
            </section>
            <button type="submit" style="font-size: 22px;">Sign up</button>

            <h1 class = "signin">Other Methods</h1>

            <div class = "metrics" style="width: 90vmax; padding-bottom: 10px; padding-top: 10px; margin-left: 40px;">
                <a href = "/auth/google" class = "bottombuttons">Sign up with google</a>
                <a href = "/users/login" class="bottombuttons">Already have an account?</a>
            </div>
        </form>
    </body>
</html>