<!DOCTYPE html>
<html>
    <head>

    </head>

    <body>
        <% if (failed){%>
            <h1>Passwords do not match!</h1>
        <%}%>
        <form action="/userpage/reset/password" method="post">
            <label>Type in your new password here:</label>
            <input type="text" name="password1"><br>
            <label>Please retype your new password here:</label>
            <input type="password" name="password2"> <br>
            <button type="submit">Submit</button>
        </form>
    </body>
</html>