<!DOCTYPE html>
<html>
    <head>

    </head>

    <body>
        <h1>Successfully signed up for <%= signupName %></h1>
        <a href="/userpage" target="_self">Return to userpage</a>
        <a href="/userpage/searchInternships" target="_self">Return to search</a>

    </body>
</html>