<!DOCTYPE html>
<html>
    <head>

    </head>

    <body>
        <h2>Please fill out this form for us to help set up your accont!</h2>
        <form action = "/users/registration/studentQuestionnare" method="POST" enctype="multipart/form-data">
            <label>What are some areas which you are interested in?</label><br>
            <section>
                <label for="Finance">Finance</label>
                <input type="checkbox" name="Finance">
    
                <label for="Tech">Technology</label>
                <input type="checkbox" name="Tech">
    
                <label for="Healthcare">Healthcare</label>
                <input type="checkbox" name="Healthcare">
    
                <label for="Media">Media</label>
                <input type="checkbox" name="Media">
            </section><br>

            <label>Please upload your Curriculim Vitae/resume here</label>
            <input type="file" name="cv" accept="application/pdf" required="true"><br>

            <button type="submit">Confirm account details?</button>
        </form>
    </body>
</html>