<!DOCTYPE html>
<html>
    <head> 
        <title>User details</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        <link rel = "stylesheet" href = "/css/login.css" type = "text/css">
        <link rel="stylesheet" href="/css/all-style.css" type = "text/css">
        <link rel="stylesheet" href="/css/about-style.css" type = "text/css">
        <link rel="stylesheet" href="/css/menu-style.css" type = "text/css">
        <link rel="icon" href="/images/icons/rayreader-logo.png" type = "image/png">
        <link rel = "stylesheet" href="/css/login.css" type = "text/css">
        <link rel = "stylesheet" href = "/css/userdetails.css" type = "text/css">

    </head>

    <body>
        <div class = "banner">
            <img src = "/images/icons/New-Logo-TB.png" width="100px">
            <h1>nternalyse</h1>
        </div>

        <% if (passwordCheck){%>
            <h2>Email has been sent to change your password</h2>
        <%}%>

        <form action = "/userpage/userdetails" method = "post">
            <div class = "metrics" style=" width: 70vmax; flex-direction: column;">
                <div style="display: flex; flex-direction: row;">
                    <h2 style="font-size: 4vmax; transition: 1s; margin-top: -10px; margin-bottom: -5px;">User details</h2>            
                </div>
                <div style="display: flex; flex-direction: row;">
                    <a class = "words">Username:</a><input class = "words inputs" style="font-size: 0.6em; width: 30vmax;" type = "text" id = "new_name" name = "new_name" value= "<%= name %>" required>
                </div>
                <div style="display: flex; flex-direction: row;">
                    <a class = "words">Email:</a><input type="email" class = "words inputs" style="font-size: 0.6em; width: 30vmax;" name = "new_email" id = "new_email" type = "text" value= "<%= email %>" required>
                </div>
                <div style="display: flex; flex-direction: row;">
                    <a class = "words">Password: ********</a>
                    <a class = "passwordbutton" href="/userpage/userdetails?changepassword=true">Change password</a>
                </div>
            </div>

            <div class = "metrics" style="flex-direction: column; width: 70vmax;">

                <h2 style="font-size: 4vmax; transition: 1s; margin-top: -10px; margin-bottom: -5px;">
                    <% if(userType == "student"){%>
                        Interested fields
                    <%} else {%>
                        Business fields
                    <%}%>
                </h2>

                <div class = "dropdown">
                    <div style="display: flex; flex-direction: row;">
                        <div style="display:flex; flex-direction: column; align-items: center; justify-content: center;">
    
                            <!-- <a class = "dropdown-content" style="margin-right: 10px;" onclick= "toggleDropdown(0)">Languages spoken</a>
                            <div style="display: none; flex-direction: column;" class = "dropdown-content-content">
                                <div style="display:flex; flex-direction: row;">
                                    <div class = "dropdown-content-content-content">
                                        Chinese
                                        <input type="checkbox">
                                    </div>
                                </div>
                                <div style="display:flex; flex-direction: row;">
                                    <div class = "dropdown-content-content-content">
                                        English
                                        <input type="checkbox">
                                    </div>
                                </div>
                                <div style="display:flex; flex-direction: row;">
                                    <div class = "dropdown-content-content-content">
                                        Spanish
                                        <input type="checkbox">
                                    </div>
                                </div>
                                <div style="display:flex; flex-direction: row;">
                                    <div class = "dropdown-content-content-content">
                                        French
                                        <input type="checkbox">
                                    </div>
                                </div>
                                <div style="display:flex; flex-direction: row;">
                                    <div class = "dropdown-content-content-content">
                                        Japanese
                                        <input type="checkbox">
                                    </div>
                                </div>
                                <div style="display:flex; flex-direction: row;">
                                    <div class = "dropdown-content-content-content">
                                        Korean
                                        <input type="checkbox">
                                    </div>
                                </div>
                                <div style="display:flex; flex-direction: row;">
                                    <div class = "dropdown-content-content-content">
                                        Other
                                        <input type="checkbox">
                                        <input style="width: 5vmax;">
                                    </div>
                                </div>
                            </div> -->
                        </div>
    
    
                        <div style="display:flex; flex-direction: column; align-items: center; justify-content: center;">
    
                            <a class = "dropdown-content" style="margin-right: 10px;" onclick= "toggleDropdown(0)">Research</a>
                            <div style="display: none; flex-direction: column;" class = "dropdown-content-content">
                                <div style="display:flex; flex-direction: row;">
                                    <div class = "dropdown-content-content-content">
                                        Biology
                                        <% if (fields.includes("Biology")) { %>
                                            <input name = "InterestedFields" value = "Biology"type="checkbox" checked>
                                        <%} else { %>
                                            <input name = "InterestedFields" value = "Biology" type = "checkbox">
                                        <%}%>                                    
                                    </div>
                                </div>
                                <div style="display:flex; flex-direction: row;">
                                    <div class = "dropdown-content-content-content">
                                        Physics
                                        <% if (fields.includes("Physics")) { %>
                                            <input name = "InterestedFields" value = "Physics" type="checkbox" checked>
                                        <%} else { %>
                                            <input name = "InterestedFields" value = "Physics" type = "checkbox">
                                        <%}%> 
                                    </div>                                 
                                </div>
                                <div style="display:flex; flex-direction: row;">
                                    <div class = "dropdown-content-content-content">
                                        Chemistry
                                        <% if (fields.includes("Chemistry")) { %>
                                            <input name = "InterestedFields" value = "Chemistry" type="checkbox" checked>
                                        <%} else { %>
                                            <input name = "InterestedFields" value = "Chemistry" name = "InterestedFields" type = "checkbox">
                                        <%}%>                                    
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <div style="display:flex; flex-direction: column; align-items: center; justify-content: center;">
    
                            <a class = "dropdown-content" style="margin-right: 10px;" onclick= "toggleDropdown(1)">Service</a>
                            <div style="display: none; flex-direction: column;" class = "dropdown-content-content">
                                <div style="display:flex; flex-direction: row;">
                                    <div class = "dropdown-content-content-content">
                                        Healthcare
                                        <% if (fields.includes("Healthcare")) { %>
                                            <input name = "InterestedFields" value = "Healthcare"type="checkbox" checked>
                                        <%} else { %>
                                            <input name = "InterestedFields" value = "Healthcare" type = "checkbox">
                                        <%}%>                                    
                                    </div>
                                </div>
                                <div style="display:flex; flex-direction: row;">
                                    <div class = "dropdown-content-content-content">
                                        Hospitality
                                        <% if (fields.includes("Hospitality")) { %>
                                            <input name = "InterestedFields" value = "Hospitality" type="checkbox" checked>
                                        <%} else { %>
                                            <input name = "InterestedFields" value = "Hospitality" type = "checkbox">
                                        <%}%>                                    
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div style="display:flex; flex-direction: column; align-items: center; justify-content: center;">
    
                            <a class = "dropdown-content" style="margin-right: 10px;" onclick= "toggleDropdown(2)">Mathematics</a>
                            <div style="display: none; flex-direction: column;" class = "dropdown-content-content">
                                <div style="display:flex; flex-direction: row;">
                                    <div class = "dropdown-content-content-content">
                                         Data Analysis
                                         <% if (fields.includes("Data")) { %>
                                            <input name = "InterestedFields" value = "Data" type="checkbox" checked>
                                        <%} else { %>
                                            <input name = "InterestedFields" value = "Data" type = "checkbox">
                                        <%}%>                                   
                                    </div>
                                </div>
                                <div style="display:flex; flex-direction: row;">
                                    <div class = "dropdown-content-content-content">
                                        Cryptography
                                        <% if (fields.includes("Cryptography")) { %>
                                            <input name = "InterestedFields" value = "Cryptography" type="checkbox" checked>
                                        <%} else { %>
                                            <input name = "InterestedFields" value = "Cryptography" type = "checkbox">
                                        <%}%>                                    
                                    </div>
                                </div>
    
                            </div>
                        </div>
                    </div>

                    <div style="display: flex; flex-direction: row; margin-top: 10px;">
                        <div style="display:flex; flex-direction: column; align-items: center; justify-content: center;">
    
                            <a class = "dropdown-content" style="margin-right: 10px;" onclick= "toggleDropdown(3)">Design technologies</a>
                            <div style="display: none; flex-direction: column;" class = "dropdown-content-content">
                                <div style="display:flex; flex-direction: row;">
                                    <div class = "dropdown-content-content-content">
                                        Design
                                        <% if (fields.includes("Design")) { %>
                                            <input name = "InterestedFields" value = "Design" type="checkbox" checked>
                                        <%} else { %>
                                            <input name = "InterestedFields" value = "Design" type = "checkbox">
                                        <%}%>                                    
                                    </div>
                                </div>
                                <div style="display:flex; flex-direction: row;">
                                    <div class = "dropdown-content-content-content">
                                        Technology
                                        <% if (fields.includes("Tech")) { %>
                                            <input name = "InterestedFields" value = "Tech" type="checkbox" checked>
                                        <%} else { %>
                                            <input name = "InterestedFields" value = "Tech" type = "checkbox">
                                        <%}%>                                    
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div style="display:flex; flex-direction: column; align-items: center; justify-content: center;">
    
                            <a class = "dropdown-content" style="margin-right: 10px;" onclick= "toggleDropdown(4)">Computer Science</a>
                            <div style="display: none; flex-direction: column;" class = "dropdown-content-content">
                                <div style="display:flex; flex-direction: row;">
                                    <div class = "dropdown-content-content-content">
                                        Artifical Intellegence
                                        <% if (fields.includes("AI")) { %>
                                            <input name = "InterestedFields" value = "AI" type="checkbox" checked>
                                        <%} else { %>
                                            <input name = "InterestedFields" value = "AI" type = "checkbox">
                                        <%}%>
                                    </div>
                                </div>
                                <div style="display:flex; flex-direction: row;">
                                    <div class = "dropdown-content-content-content">
                                        Engineering
                                        <% if (fields.includes("Engineering")) { %>
                                            <input name = "InterestedFields" value = "Engineering" type="checkbox" checked>
                                        <%} else { %>
                                            <input name = "InterestedFields" value = "Engineering" type = "checkbox">
                                        <%}%>                                    
                                    </div>
                                </div>
    
                            </div>
                        </div>
    
                        <div style="display:flex; flex-direction: column; align-items: center; justify-content: center;">
    
                            <a class = "dropdown-content" style="margin-right: 10px;" onclick= "toggleDropdown(5)">Finances</a>
                            <div style="display: none; flex-direction: column;" class = "dropdown-content-content">
                                <div style="display:flex; flex-direction: row;">
                                    <div class = "dropdown-content-content-content">
                                        Finance
                                        <% if (fields.includes("Finance")) { %>
                                            <input name = "InterestedFields" value = "Finance" type="checkbox" checked>
                                        <%} else { %>
                                            <input name = "InterestedFields" value = "Finance" type = "checkbox">
                                        <%}%>
                                    </div>
                                </div>
                                <div style="display:flex; flex-direction: row;">
                                    <div class = "dropdown-content-content-content">
                                        Marketing
                                        <% if (fields.includes("Marketing")) { %>
                                            <input name = "InterestedFields" value = "Marketing" type="checkbox" checked>
                                        <%} else { %>
                                            <input name = "InterestedFields" value = "Marketing" type = "checkbox">
                                        <%}%>                                    
                                    </div>
                                </div>
                                <div style="display:flex; flex-direction: row;">
                                    <div class = "dropdown-content-content-content">
                                        FinTech
                                        <% if (fields.includes("Fintech")) { %>
                                            <input name = "InterestedFields" value = "Fintech" type="checkbox" checked>
                                        <%} else { %>
                                            <input name = "InterestedFields" value = "Fintech" type = "checkbox">
                                        <%}%>                                    
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button id = "Updateinformation" type="submit">Update</button>
            </div>
        </form>


        <div class = "metrics" style="flex-direction: column; width: 70vmax;" >
            <h2 style="font-size: 4vmax; transition: 1s; margin-top: -10px; margin-bottom: -5px;">Other</h2>
            <a class = "words">Change colour scheme</a>
            <a class = "words">Change theme</a>
            <% if (userType == 'business') {%>
                <a>Change description</a>
            <%}%>
        </div>

        <script src="/javascript/dropdown.js"></script>
        <script src="/javascript/userupdates.js" type = "/module"></script>


    </body>
</html>