<!DOCTYPE html>
<html>
    <head> 
        <title>User details</title>
        <link rel = "stylesheet" href = "/css/login.css" type = "text/css">
    </head>

    <body>
        <div class = "banner">
            <img src = "/images/icons/New-Logo-TB.png" width="100px">
            <h1>nternalyse</h1>
        </div>

        <div class = "metrics" style=" width: 70vmax; flex-direction: column;">
            <div style="display: flex; flex-direction: row;">
                <h2 style="font-size: 4vmax; transition: 1s; margin-top: -10px; margin-bottom: -5px;">User details</h2>            
            </div>
            <div style="display: flex; flex-direction: row;">
                <a class = "words">Username:</a><input class = "words" style="font-size: 0.6em; width: 30vmax;" value= <% = name %>>
            </div>
            <div style="display: flex; flex-direction: row;">
                <a class = "words">Email:</a><input class = "words" style="font-size: 0.6em; width: 30vmax;" value= <% =name %>>
            </div>
            <div style="display: flex; flex-direction: row;">
                <a class = "words">Password:</a><input class = "words" style="font-size: 0.6em; width: 30vmax;" value = <% =name %>>
            </div>
            <button>Update
        </div>

        <div class = "metrics" style="flex-direction: column; width: 70vmax;" >
            <h2 style="font-size: 4vmax; transition: 1s; margin-top: -10px; margin-bottom: -5px;">Interested fields</h2>
            <a class = "words">Apple, Coconut, Orange, Banana, Citrus, Dragonfruit, Starfruit, Blueberry, Blackberry</a>
        </div>

        <div class = "metrics" style="flex-direction: column; width: 70vmax;" >
            <h2 style="font-size: 4vmax; transition: 1s; margin-top: -10px; margin-bottom: -5px;">Other</h2>
            <a class = "words">Change colour scheme</a>
        </div>



    </body>
</html>