<!DOCTYPE html>
<html>
    <head>
        <title>Pneumonia Trainer</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        <link rel = "stylesheet" href = "/css/login.css" type = "text/css">
        <link rel="stylesheet" href="/css/all-style.css" type = "text/css">
        <link rel="stylesheet" href="/css/about-style.css" type = "text/css">
        <link rel="stylesheet" href="/css/menu-style.css" type = "text/css">
        <link rel="icon" href="/images/icons/rayreader-logo.png" type = "image/png">
    </head>

    <body>
        <div class="background">
        </div>
    
        <div class="loading-box">
        </div>
    
        <div class="top-box">
            <h1>Welcome to the userpage, <%= name %>!</h1>

        </div>
    
        <div class="side-box">
            <!-- <div style = "z-index: 12; display: flex; justify-content: space-evenly; max-width:inherit;" >
                <a href="main-menu.html" class="logo-button">
                    <img src="/images/icons/rayreader-logo.png" alt="RayReader">
                </a>
                <h2 class = "button-descriptions">
                    Back to homepage
                </h2>
            </div> -->
            <!-- <a href="main-menu.html" class="logo-button">
                <img src="/images/icons/rayreader-logo.png" alt="RayReader">
            </a> -->
            <div>
                <a href = "/userdetails" target="_blank" style = "color: white; text-align: center;">User details</a>

            </div>

            <div>
                <a href = "/users/logout" style = "color: white; text-align: center;">
                    Log out
                </a>
            </div>
        </div>
    
        <div class="top-left-box">
        </div>
    
        <div class="top-right-box">
        </div>
    
        <div id="lesson-box">
            <a href="index.html">
                Intership/ Oppotunities
            </a>
            
        </div>
    
        <div class="news-box-1">
        </div>
    
        <div class="news-box-2">
        </div>
        <a href = "/users/logout">Logout</a>
    </body>
</html>