<!DOCTYPE html>
<html>
    <head>
        <title>Checking for verification code...</title>
        <link rel = "stylesheet" href = "/css/verificationCheck.css" type = "text/css">
    </head>
    <body>
        <h2>Verify your account</h2>
        <form action = "/users/verification" method="POST">
            <input type = "number" id = "VCode" name = "num" placeholder="Verification Code" class = "noscroll" required>
            <button type="submit">Submit verification code</button>
        </form>

        <a href = "/users/verification">Resend Verification Code</a>

        <script src = "/javascript/verificationCheckJS.js" type = "text/javascript"></script>
    </body>
</html>