.head {
    justify-content: center;
    display: flex;
    text-align: center;
    background-color: rgb(98, 184, 242);
    width: 110vmax;
    height: 90px;
    font-size: 70px;
    font-family: 'Courier New', Courier, monospace;
    margin-left: -10px;
    margin-top: -10px;
    z-index: 1;
}

.mainpage-navbar{
    background-color: var(--outline-color);
    color: var(--accent-color);

    padding: 1rem;
}

.mainpage-navbar h1{
    margin: 0%;
    font-size: 3rem;
}

.mainpage-navbar button{
    height: 100%;
    font-size: 1rem;
    padding: 1rem 2rem;
    border-radius: 1rem;
    background-color: var(--accent-color);

    border: solid gray;
}

.mainpage-navbar-centered{
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.mainpage-banner{
    height: 400px;
    width: 100%;

    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/placeholder-intern.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: flex;
    align-items: center;

    
}

.mainpage-banner h1{
    color: var(--accent-color);
    font-size: 2rem;

    margin: 0%;
    margin-left: 25vw;

    width: 25%;
}