@font-face {
    font-family: ABeeZee;
    src: url(ABeeZee-Regular.ttf);
}

@font-face {
    font-family: Lalezar;
    src: url(Lalezar-Regular.ttf);
}

:root{
    --basic-color: black;
    --accent-color: white;
    --outline-color: #1B72E8;
}

body{
    background-color: white;
    color: var(--basic-color);
    font-family: Abeezee, sans-serif;
    margin: 0%;
}

.centered{
    width: 50%;
    margin: auto;
    text-align: center;
}

.aligned{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

a{
    text-decoration: none;
    color: var(--outline-color);
}

.grey-box{
    background-color: rgb(225, 225, 225);
    border-radius: 1rem;
    padding: 2rem;
    margin: 1rem;
}

/* For the header */

.page-header h1{
    font-size: 4rem;
    margin: 0%;
}

.page-header hr{
    margin: 1rem;
    height: 0.25rem;
    border: solid var(--outline-color);
    background-color: var(--outline-color);
}

.navbar{    
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.navbar h2{
    font-size: 1.5rem;
    margin: 0%;
    display: inline;
}

.page-name{
    font-size: 3rem;
    margin: 2rem;
}
